.vscode/
.VSCodeCounter/
.idea/
.cache/
*.txt
compile_commands.json

!CMakeLists.txt
!requirements.txt

__pycache__/
go/

*~/
build/
install/
release/
output/
checkpoint/
dataset/
bin/
log/
model/
ncu/
nsys/
roofline/
ptx/
sass/
tmp/
temp/

*.o
*.so
*.so.*
*.out
*.log
*.bak
*.pkz

setting.h
.config*
