numpy
accelerate
lightning==1.9
omegaconf==2.1.1
lightning_lite
transformers==4.30
diffusers>=0.19
wandb
ftfy
torchvision
requests
timm
safetensors
torch-ema
tensorboard
h5py



lightning==1.9
omegaconf==2.1.1
transformers==4.30
h5py
diffusers==0.19
torch-ema
bitsandbytes-cuda113